.inputContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: antiquewhite;
}


input {
    height: 45px;
    width: 200px;
    border: aquamarine;
    margin: .5em;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    height: 50px;
    width: 150px;
    border-radius: .76em;
    box-shadow: small navy;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
}

/* .card {
    border:solid 1px black;
    height: 600px;
    width: 600px;
} */

.col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    border:solid 1px burlywood;
    height: 600px;
    width: 600px;
    margin: 20px;
    background-color:blanchedalmond;
    position: relative;
}

.shape {
    opacity: 0.85;
    position: absolute;
}

#square {
    background-color: red;
}

#rect {
    background-color: green;
}

#circle {
    background-color: purple;
    border-radius: 50%;
}

#tri {
    height: 0;
    width: 0;
    background: blue;
    border-top: transparent;
    border-right: 100px solid yellow;
    border-bottom: 100px solid yellow;
    border-left: transparent;
    
}

/* #tri:after {
    border-top: 2em solid transparent;
    border-left: 2em solid red;
} */