.inputContainer {
    padding: 15px;
    background: url('shapes-image.jpg');
    background-color: rgb(226, 225, 225);
    background-size: 100%;
}

.row {
    display: flex;
}

.col-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

input {
    height: 45px;
    width: 150px;
    margin: .5em;
    font-size: 1.25em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rowSide {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: auto;
    padding: 10px;
    border-radius: .76em;
    box-shadow: 1px 1px 2px darkslategray;
    font-size: 1.25em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aquamarine;
    outline: none;
}

.main {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.canvas {
    align-self: flex-end;
    border:solid 1px rgb(41, 184, 228);
    height: 600px;
    width: 600px;
    background: url('annie-spratt-695478-unsplash.jpg');
    background-size: 600px;
    background-color:rgb(226, 225, 225);
    position: relative;
}

.sidePanel {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;    
    background:  rgb(41, 184, 228);
    border-radius: 1%;
    height: 600px;
    width: 350px;
    margin: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 2px 2px darkslategray;
    color: white;
}

.descInput {
    height: 25px;
    width: 225px;
}

h1 {
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 2px 2px darkslategray;
    color: white;
    text-align: center;
    font-weight: 800;
}

h4 {
    padding: 10px;
    text-shadow: none;
    align-self: center;
    color: rgb(33, 92, 164);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.shape {
    opacity: 0.85;
    position: absolute;
}

#square {
    background-color: indianred;
}

#rect {
    background-color: limegreen;
}

#circle {
    background-color: purple;
    border-radius: 50%;
}



