body {
     background: url('shapes-image4.jpg');
     background-blend-mode: lighten;     
     background-size: cover;
}

.row {
    display: flex;
}

.inputsRow {
    justify-content: space-around;
    margin: 2px;
    flex-wrap: wrap
}

.top-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input {
    height: 30px;
    width: 139px;
    margin: .5em;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rowSide {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 30px;
    width: 140px;
    padding: 4px;
    border-radius: .20em;
    box-shadow: 1px 1px 2px darkslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aquamarine;
    outline: none;
}

.main {
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;  
    align-items: flex-start;
}

.col {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
}

.canvas {
    margin-left: 100px;
    align-self: flex-start;
    border: solid 1px rgb(41, 184, 228);
    border-radius: .25em;
    height: 600px;
    width: 600px;
    background: url('canvas-image1.jpg');
    background-size: cover;
    background-color:rgb(226, 225, 225);
    position: relative;
    margin-bottom: 2em;
}

.sidePanel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;    
    background:  rgb(41, 184, 228);
    border-radius: 1%;
    height: auto;
    width: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 2px 2px darkslategray;
    color: white;
}

.descInput {
    height: 25px;
    width: 225px;
}

.clearBtn {
    align-self: center;
    margin: 2em;
}

h1 {
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 2px 2px darkslategray;
    color: white;
    text-align: center;
    font-weight: 800;
}

h4 {
    padding: 10px;
    text-shadow: none;
    align-self: center;
    color: white;
    text-shadow: 1px 2px 1px darkslategray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.shape {
    opacity: 0.85;
    position: absolute;
}

#square {
    background-color: indianred;
}

#rect {
    background-color: limegreen;
}

#circle {
    background-color: purple;
    border-radius: 50%;
}



